<main>
  <!-- Section One -->
  <section class="section-one vh-100 d-flex flex-column flex-lg-row bg-light">
    <div class="m-4 d-flex justify-content-center align-items-center">
      <img
        class="img-fluid p-3"
        src="https://res.cloudinary.com/duvwrecw1/image/upload/v1737999026/AlbedoBase_XL_a_16_years_old_kid_as_a_wizard_Blue_eyes_and_blu_2_1_xy83yx.jpg"
        alt="zoen1"
      />
    </div>
    <div class="d-flex flex-column justify-content-center p-4">
      <h2 class="text-center display-4">Zoen el Mago</h2>
      <p class="text-muted fs-5">
        Nos encontramos en el pueblo de <span>Ginnungagap</span> que toma su
        nombre en referencia al inmenso vacío previo a la creación de los
        reinos. Este pueblo ubicado en el <span>Reino de Midgard</span> tiene
        la peculiaridad de dar cobijo al <span>Gremio de los magos</span>.
      </p>
      <p class="text-muted fs-5">
        Este gremio de magos tiene la peculiaridad de poder viajar entre los
        mundos ayudando a todo el que se lo pide, sea elfo, enano o gigante.
      </p>
      <p class="text-muted fs-5">
        Los magos que lo forman son todos nacidos en este pueblo, lo que lo
        convierte en un pueblo muy especial y a la vez con la gran necesidad de
        estar preparado ante cualquier amenaza.
      </p>
    </div>
  </section>

  <!-- Section Two -->
  <section class="section-two vh-100 d-flex flex-column flex-lg-row bg-secondary text-white">
    <div class="m-4 d-flex justify-content-center align-items-center">
      <img
        class="img-fluid p-3"
        src="https://res.cloudinary.com/duvwrecw1/image/upload/v1738005231/AlbedoBase_XL_Imagine_a_mystical_Viking_village_where_powerful_1_ditel6.jpg"
        alt="zoen2"
      />
    </div>
    <div class="d-flex flex-column justify-content-center p-4">
      <h2 class="text-center display-4">Prólogo</h2>
      <p class="fs-5">
        Nos encontramos en el pueblo de <span>Ginnungagap</span> que toma su
        nombre en referencia al inmenso vacío previo a la creación de los
        reinos. Este pueblo ubicado en el <span>Reino de Midgard</span> tiene
        la peculiaridad de dar cobijo al <span>Gremio de los magos</span>.
      </p>
      <p class="fs-5">
        Este gremio de magos tiene la peculiaridad de poder viajar entre los
        mundos ayudando a todo el que se lo pide, sea elfo, enano o gigante.
      </p>
      <p class="fs-5">
        Los magos que lo forman son todos nacidos en este pueblo, lo que lo
        convierte en un pueblo muy especial y a la vez con la gran necesidad de
        estar preparado ante cualquier amenaza.
      </p>
    </div>
  </section>

  <!-- Section Three -->
  <section class="section-three vh-100 d-flex flex-column flex-lg-row bg-dark text-white">
    <div class="m-4 d-flex justify-content-center align-items-center">
      <img
        class="img-fluid p-3"
        src="https://res.cloudinary.com/duvwrecw1/image/upload/v1738007451/AlbedoBase_XL_Create_an_image_of_a_threeheaded_raven_each_head_2_mqebgl.jpg"
        alt="zoen3"
      />
    </div>
    <div class="d-flex flex-column justify-content-center p-4">
      <h2 class="text-center display-4">Primera Elección</h2>
      <p class="fs-5">
        Durante tus aventuras te acompañará uno de los cuervos de tu padre, cada
        uno de ellos tiene características únicas que te ayudarán en tu cometido.
      </p>
      <p class="fs-5">
        Elige sabiamente pues elegir debes a aquel que mejor te complemente.
      </p>
    </div>
  </section>
  <section>
    <div>
      <h2 class="text-center display-4">Elige tu forma de cuervo</h2>
      <ul class="d-flex flex-column flex-lg-row justify-content-center list-unstyled">
          @for (crow of crowList; track crow.title){
            <li class="col-lg-3 col-sm-12 mb-4" [id]="crow.id">
              <a [routerLink]="['gallery']" class="text-decoration-none text-dark">
              <div class="book-card p-3 bg-white shadow-sm h-100">
                <img [src]="crow.image" alt="Imagen de libro" class="book-img mb-2"/>
                <h3>{{ crow.title }}</h3>
                <p>{{ crow.description }}</p>
              </div>
            </a>
            </li>
          }
      </ul>
    </div>
  </section>
</main>
