  <!-- Main Content -->
  <main class="">
    <section class="section-one lg:h-screen bg-purple-300 grid grid-cols-1 lg:grid-cols-2">
      <div class="m-12">
        <img class="p-6" src="https://res.cloudinary.com/duvwrecw1/image/upload/v1737999026/AlbedoBase_XL_a_16_years_old_kid_as_a_wizard_Blue_eyes_and_blu_2_1_xy83yx.jpg" alt="zoen1">
      </div>
      <div class="grid m-12 p-10">
        <h2 class="text-4xl text-center">Zoen el Mago</h2>
        <p class="text-lg mb-12 md:text-2xl lg:mb-0">
          Nos encontramos en el pueblo de <span>Ginnungagap</span> que toma su nombre en referencia al inmenso vacío prevío a la creación de los reinos. Este pueblo ubicado en el <span>Reino de Midgard</span> tiene la peculiaridad de dar cobijo al <span>Gremio de los magos</span>
        </p>
        <p class="text-lg mb-12 md:text-2xl lg:mb-0">
          Este gremio de magos tiene la peculiaridad de poder viajar entre los mundos ayudando a todo el que se lo pide, sea elfo, enano o gigante.
        </p>
        <p class="text-lg mb-12 md:text-2xl lg:mb-0">
          Los magos que lo forman son todos nacidos en este pueblo, lo que lo convierte en un pueblo muy especial y a la vez con la gran necesidad de estar preparado ante cualquier amenaza
        </p>
      </div>
    </section>
    <section class="section-two lg:h-screen bg-purple-400 animate-duration-1000 grid grid-cols-1 lg:grid-cols-2"
      pAnimateOnScroll
      enterClass="animate-zoomin"
      leaveClass="animate-fadeout">
      <div class="m-12">
        <img class="p-6" src="https://res.cloudinary.com/duvwrecw1/image/upload/v1738005231/AlbedoBase_XL_Imagine_a_mystical_Viking_village_where_powerful_1_ditel6.jpg" alt="zoen1">
      </div>
      <div class="grid m-12 p-10">
        <h2 class="text-4xl text-center">Prólogo</h2>
        <p class="text-lg mb-12 md:text-2xl lg:mb-0">
          Nos encontramos en el pueblo de <span>Ginnungagap</span> que toma su nombre en referencia al inmenso vacío prevío a la creación de los reinos. Este pueblo ubicado en el <span>Reino de Midgard</span> tiene la peculiaridad de dar cobijo al <span>Gremio de los magos</span>
        </p>
        <p class="text-lg mb-12 md:text-2xl lg:mb-0">
          Este gremio de magos tiene la peculiaridad de poder viajar entre los mundos ayudando a todo el que se lo pide, sea elfo, enano o gigante.
        </p>
        <p class="text-lg mb-12 md:text-2xl lg:mb-0">
          Los magos que lo forman son todos nacidos en este pueblo, lo que lo convierte en un pueblo muy especial y a la vez con la gran necesidad de estar preparado ante cualquier amenaza
        </p>
      </div>
    </section>
    <section class="section-three lg:h-screen  bg-purple-500 animate-duration-1000 grid grid-cols-1 lg:grid-cols-2"
      pAnimateOnScroll
      enterClass="animate-zoomin"
      leaveClass="animate-fadeout">
      <div class="m-12">
        <img class="p-6" src="https://res.cloudinary.com/duvwrecw1/image/upload/v1738007451/AlbedoBase_XL_Create_an_image_of_a_threeheaded_raven_each_head_2_mqebgl.jpg" alt="zoen1">
      </div>
      <div class="grid m-12 p-10">
        <h2 class="text-4xl text-center">Primera Elección</h2>
        <p class="text-lg mb-12 md:text-2xl lg:mb-0">
          Durante tus aventuras te acompañará uno de los cuervos de tu padre, cada uno de ellos tiene características únicas que te ayudarán en tu cometido
        </p>
        <p class="text-lg mb-12 md:text-2xl lg:mb-0">
         Elige sabiamente pues elegir debes a aquel que mejor te complemente
        </p>
      </div>
    </section>
  </main>
  